<div class="background-color">
<section class="collection py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">

      <div class="row">
        <div class="col-lg-7 col-md-6 collection-w3layouts"><br/><br/>
     <br/><br/> <h1 style="color:white;font-size: 24px;">How stubble is used and different products are manufactured</h1><br/>
      <div class="col-lg-5 col-md-6"></div>
      <iframe width="530" height="320" src="https://www.youtube.com/embed/hjJ5HtyLluU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      
   
      <div class="row">
        <div class="col-lg-7 col-md-6 collection-w3layouts">
          <br/><br/><br/>
          <h2 style="color:white;font-size: 24px;">Wheat Stubble</h2>
          <p class="mt-2" style="font-size: 20px; color:white">In the state, wheat stubble is used to make dry fooder for cattle, and farmers burn only the leftover roots.These roots can be easily mixed in the soil, but some farmers find it easier to burn it to clear it.
 </p>
          <div class="view-buttn mt-lg-4 mt-3">
            <!--<a href="single.html" class="">Read More</a>-->
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <br/> <img src="assets/images/wheat1.jpg" alt="news image" class="img-fluid" style="width:90%;height:90%">
        </div>
      </div>
  

      <div class="row my-lg-5 my-md-4 my-3">
        <div class="col-lg-5 col-md-6">
          <img src="assets/images/paddy.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-6 collection-w3layouts">
          <h2 style="color:white;font-size: 24px;">Paddy Stubble</h2>
          <p class="mt-2" style="font-size: 20px; color:white">Paddy, also called rice paddy, small, level, flooded field used to cultivate rice in southern and eastern Asia. Wet-rice cultivation is the most prevalent method of farming in the Far East, where it utilizes a small fraction of the total land yet feeds the majority of the rural population.
</p>
          <div class="view-buttn mt-lg-4 mt-3">
           <!-- <a href="single.html" class="">Read More</a>-->
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-7 col-md-6 collection-w3layouts">
          <h2 style="color:white; font-size:24px;">SugarCane Stubble</h2>
          <p class="mt-2" style="font-size: 20px; color:white">Ratooning is an ancient method of propagation in sugarcane in which subterranean buds on the stubble (the part of cane left underground after harvesting) give rise to a new crop stand, which is usually referred to as the 'ratoon' or the 'stubble crop' as opposed to 'plant crop', which is raised from seeds or seedlings.
</p>
          <div class="view-buttn mt-lg-4 mt-3">
           <!-- <a href="single.html" class=" scroll">Read More</a>-->
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <img src="assets/images/sugarcane.jpg" alt="news image" class="img-fluid"  style="width:90%;height:90%">
            
        </div>
      </div>


      <div class="row my-lg-5 my-md-4 my-3">
        <div class="col-lg-5 col-md-6">
          <img src="assets/images/corn stover.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-6 collection-w3layouts">
          <h2 style="color:white;font-size: 24px;">Corn Stover</h2>
          <p class="mt-2" style="font-size: 20px; color:white">Corn stover consists of the leaves, stalks, and cobs of maize plants left in a field after harvest. Such stover makes up about half of the yield of a corn crop and is similar to straw from other cereal grasses; in Britain it is sometimes called corn straw.
            Another use for corn stover is as fuel for bioenergy in boilers for heating purpose or the production of electricity by steam turbines and steam turbines are driven by boilers steam or as feedstock for bioproducts.”
            
</p>
          <div class="view-buttn mt-lg-4 mt-3">
           <!-- <a href="single.html" class="">Read More</a>-->
          </div>
        </div>
      

      </div>
      

    </div>
  </section>
  

</div>