<!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
<div class="container">
    <div class="row row1">
        <ul class="largenav pull-right">
            <li class="upper-links"><a class="links" routerLink="FarmerLogin">Farmer</a></li>
            <li class="upper-links"><a class="links" routerLink="VendorLogin">Manufacturer</a></li>
        </ul>
    </div>
    <div class="row row2">
        <div class="col-sm-2">
            <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ Stubble</span></h2>
            <h1 style="margin:0px;"><span class="largenav">Stubble</span></h1>
        </div>
    </div>

</div>
<div id="mySidenav" class="sidenav">
    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
</div>
</div>-->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>-->
<!--<body class="w3-light-grey">
    
Navigation Bar
<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="FarmerLogin">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="p">Contact</a>
          </li>
  </ul>

</div>


</body>-->

<!--<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">



</head>
<div>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style=background-color:white>
    <a class="navbar-brand" href="#" style="color:blue">Stuuble Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">-->
       <!-- <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
            
          </li>-->
          

        <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="moreInfo" style="color:blue">KNOW MORE<span class="sr-only">(current)</span></a>
        </li>
       <li class="nav-item active">
          <a class="nav-link" routerLink="FarmerLogin" style="color:blue">FARMER LOGIN  </a>
        
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="VendorLogin" style="color:blue">VENDORLOGIN </a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cartItems" style="color:blue">SHOW CART ITEMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="languageTranslator" style="color:blue">GOOGLE TRANSLATOR</a>
          </li>
      </ul>
    </div>
  </nav>
  </div>-->
  <img src="assets/images/home5.jpg" style="height:620px; width: 100% ;">
  

  
  




  
